<div class="header-2">
    <div class="header-2-wrapper">
        <p>
            <a href="##">
                Today's deal
            </a>
        </p>
        <p>
            <a href="##">
                Trending
            </a>
        </p>
        <p>
            <a href="##">
                Customer service
            </a>
        </p>
        <p>
            <a href="##">
                Coupons
            </a>
        </p>
        <p>
            <a href="##">
                Sell
            </a>
        </p>
    </div>
</div>