<div class="main-header">
    <div class="main-header-wrapper">
        <div class="logo">
            <p>
                <a href="/">
                    E-COM
                </a>
            </p>
        </div>
        <div class="center">
            <div class="search-input">
                <input type="text" placeholder="Enter name to search">
                <p>
                    <i class="fas fa-search"></i>
                </p>
            </div>
        </div>
        <div class="right">
            <div class="register">
                <a href="##">Register/Login</a>
            </div>
            <div class="header-cart">
                <p>
                    <span>
                        Ksh
                    </span>
                    <span class="sync-total">
                        
                    </span>
                </p>
                <p>
                    <a href="/cart">                    
                        <span>
                            <i class="fas fa-shopping-cart"></i>
                        </span>
                        <span class="sync-items">0</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>