<div class="hero">
    <div class="hero-cards">
        <div class="hero-card">
            <p class="head">Computer accessories</p>
            <div class="image">
                <img src="/images/computer.jpg" alt="">
            </div>
            <p class="link">
                <a href="##">shop now</a>
            </p>
        </div>
        <div class="hero-card">
            <p class="head">Fitness products</p>
            <div class="image">
                <img src="/images/fitness.jpg" alt="">
            </div>
            <p class="link">
                <a href="##">shop now</a>
            </p>   
        </div>
        <div class="hero-card">
            <p class="head">Beauty products</p>
            <div class="image">
                <img src="/images/beauty.jpg" alt="">
            </div>
            <p class="link">
                <a href="##">shop now</a>
            </p>   
        </div>
        <div class="hero-card">
            <p class="head">Groceries</p>
            <div class="image">
                <img src="/images/groceries.jpg" alt="kia">
            </div>
            <p class="link">
                <a href="##">shop now</a>
            </p>   
        </div>
    </div>
</div>