<%- include('./_head.ejs'); %>
<%- include('./_header.ejs'); %>
<div class="cart-page">
    <div class="cart-header">
        <p>
            Your cart contains 6 items,
            <a href="/">Continue shopping</a>
        </p>
    </div>
    <div class="cart-body">
        <div class="items">
            <div class="items-header">
                <p></p>
                <p>Product name</p>
                <p>unit price</p>
                <p>qty</p>
                <p>subtotal</p>
            </div>
            <div class="items-body">
                <!-- <div class="item">
                    <div class="image">
                        <div>
                            <p>X</p>
                            <img width="50px" src="/images/5bdee7b9bb309aec9b8a049ff2140ea4.png" alt="">
                        </div>
                    </div>
                    <div class="name">
                        <p>Black knive</p>
                    </div>
                    <div class="unit-price">
                        ksh 1200
                    </div>
                    <div class="qty">
                        <div>
                            <button>-</button>
                            <input type="number" name="price" autocomplete="off">
                            <button>+</button>
                        </div>
                    </div>
                    <div class="sub-total">2000</div>
                </div> -->
            </div>
        </div>
        <div class="checkout">
            <div class="checkout-header">
                <p>Cart totals</p>
            </div>
            <div class="subtotal">
                <p>subtotal</p>
                <p class="subtotal-p"></p>
            </div>
            <div class="grandtotal">
                <p>grandtotal</p>
                <p class="grandtotal-p"></p>
            </div>
            <div class="checkout-div">
                <a class="checkout-btn" href="">Proceed to checkout</a>
            </div>
        </div>
    </div>
</div>
<%- include('./_close.ejs'); %> 