<%- include('./_head.ejs'); %>
<div class="single-product">
    <%- include('./_header.ejs'); %>
    <div class="promotion">
        <p>We give weekly discounts follo us on social media</p>
        <p class="social">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
        </p>
    </div>
    <div class="products-info-container">
        <div class="top">
            <div class="image">
                <div class="img">
                    <img src="/images/7ccfb71f9c7ee89f639880afa145bc88.png" alt="">
                </div>
                <div class="controls">
                    <div>
                        <div class="control" data-image="/images/2fa15b1b500c1d13026ef3e53bdfecf9.png">
                            <img src="/images/2fa15b1b500c1d13026ef3e53bdfecf9.png" alt="product">
                        </div>
                        <div class="control" data-image="/images/5bdee7b9bb309aec9b8a049ff2140ea4.png">
                            <img src="/images/5bdee7b9bb309aec9b8a049ff2140ea4.png" alt="product">
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <p class="sale">sale!</p>
                <p class="name">32cm Deep Frying pan</p>
                <p class="price">price</p>
                <ul>
                    <li>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque vero voluptate nulla accusamus natus accusantium ea, nobis maxime? Dolore, ipsum!
                    </li>
                    <li>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque vero voluptate nulla accusamus natus accusantium ea, nobis maxime? Dolore, ipsum!
                    </li>
                    <li>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque vero voluptate nulla accusamus natus accusantium ea, nobis maxime? Dolore, ipsum!
                    </li>
                </ul>
                <a class="bv" href="">
                    <p>
                        <span>
                            <i class="fab fa-whatsapp"></i>
                        </span>
                        <span>Buy on whatsapp</span>
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>

<%- include('./_close.ejs'); %> 